
  
    <div class="col-12">
      <nb-card size="small">
        <nb-tabset fullWidth>
          <nb-tab tabTitle="Dossiers">
            <span>Infos dossiers</span>
          </nb-tab>
          <nb-tab tabTitle="Documents">
            <span>Infos documents</span>
          </nb-tab>
          <nb-tab tabTitle="Effets personnels">
            <span>Infos effets personnels</span>
          </nb-tab>
          <nb-tab tabTitle="Equipements">
            <span>Infos équipements</span>
          </nb-tab>
        </nb-tabset>
      </nb-card>
    </div>
  