    <!-- <div class="col-12">
          <nb-tabset fullWidth (changeTab)="onChangeTab($event)">
            <nb-tab tabTitle="Couleur" >
                <ngx-couleur></ngx-couleur>
            </nb-tab>
            <nb-tab tabTitle="Energie" >
                <ngx-energie></ngx-energie>
            </nb-tab>
            <nb-tab tabTitle="Marque" >
                <ngx-marque></ngx-marque>
            </nb-tab>
            <nb-tab tabTitle="Statut" >
                <ngx-status></ngx-status>
            </nb-tab>
            <nb-tab tabTitle="Equipement" >
                <ngx-equipement></ngx-equipement>
            </nb-tab>
            <nb-tab tabTitle="Type client" >
                <ngx-type-client></ngx-type-client>
            </nb-tab>
            <nb-tab tabTitle="Type commerce" >
                <ngx-type-commerce></ngx-type-commerce>
            </nb-tab>
            <nb-tab tabTitle="Usage" >
                <ngx-usage></ngx-usage>
            </nb-tab>
            
          </nb-tabset>
      </div>
     -->
     
     <mat-tab-group mat-align-tabs="start">
        <mat-tab label="Couleur">
            <ngx-couleur></ngx-couleur>
        </mat-tab>
        <mat-tab label="Energie">
            <ngx-energie></ngx-energie>
        </mat-tab>
        <mat-tab label="Document">
            <ngx-document></ngx-document>
        </mat-tab>
        <mat-tab label="Equipement">
            <ngx-equipement></ngx-equipement>
        </mat-tab>
        <mat-tab label="Marque">
            <ngx-marque></ngx-marque>
        </mat-tab>
        <mat-tab label="Statut">
            <ngx-status></ngx-status>
        </mat-tab>
        <mat-tab label="Type client">
            <ngx-type-client></ngx-type-client>
        </mat-tab>
        <mat-tab label="Type commerciale">
            <ngx-type-commerce></ngx-type-commerce>
        </mat-tab>
        <mat-tab label="Usage">
            <ngx-usage></ngx-usage>
        </mat-tab>
      </mat-tab-group>